<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Лента</title>
</head>
<body>
<h1> Лента новостей </h1>

<a href="{% url 'create'%}"><strong> Создать пост </strong></a><br>
<a href="{% url 'subscribe'%}"><strong> Управление подписками </strong></a>

{% if notes%}
{% for note in notes %}
<form  enctype="multipart/form-data" role="form" method="post">
    {% csrf_token %}
    <input name="note" style="display:none" value="{{note.0.id}}">
    <h2> {{note.0.title}} </h2>
    <p> {{note.0.body}} </p>
    <p> Опубликовано: <strong>{{ note.0.time}}</strong>, автор:<strong>{{ note.0.author.author }}</strong> </p>
    {% if note.1.status%}
    <p> Статус: <strong>ПРОЧИТАНО</strong></p>
    <button type="submit"> Пометить непрочитанным</button>
    {% else %}

    <button type="submit"> Пометить прочитанным</button>
    {% endif%}
</form>
<hr align="left" width="500" size="2" color="black" />
{% endfor%}
{% for stat in status%}
{{stat.0}}
{% endfor%}

{% else %}
<h3>К сожалению, Ваша лента пока пуста. Подпишитесь на интересующие Вас блоги!</h3>

{% endif%}

</body>
</html>